.rootWrapper {
  color: rgb(237, 237, 237);
  background-color: rgb(10, 10, 10);
  font: 400 16px/24px Arial, Helvetica, sans-serif;
}

.hiddenDiv {
  display: none;
  font-weight: 400;
}

.flexRow {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}

.columnRight {
  margin-left: 20px;
}

@media (max-width: 991px) {
  .flexRow {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
  .column {
    width: 100%;
    margin-left: 0;
  }
}

.sectionBase {
  align-self: start;
  grid-area: 2 / 1 / 3 / 2;
  grid-row: 2 / 3;
  justify-self: start;
  left: 0px;
  min-width: 980px;
  position: relative;
  width: 100%;
}

.imageWrapper {
  align-self: start;
  cursor: pointer;
  grid-area: 1 / 1 / 2 / 2;
  grid-row: 1 / 2;
  height: 363px;
  justify-self: start;
  left: 301px;
  position: relative;
  width: 375px;
  margin: 33px 0 34px calc(50% - 490px);
}

.linkReset {
  border-color: rgb(0, 0, 238);
  color: rgb(0, 0, 238);
  cursor: pointer;
  height: 100%;
  outline-color: rgb(0, 0, 238);
  overflow-x: hidden;
  overflow-y: hidden;
  text-decoration: none;
}

.imgRaw {
  aspect-ratio: auto 375 / 363;
  border-color: rgb(0, 0, 238);
  color: rgb(0, 0, 238);
  cursor: pointer;
  height: 100%;
  object-fit: cover;
  outline-color: rgb(0, 0, 238);
  overflow-clip-margin: content-box;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
